@media screen and (max-width: 500px) {
  /* line 2, app/assets/stylesheets/accountcreationpage/accountCreationPage(mobile).scss */
  .create-account-page {
    height: 100vh;
    width: 100vw;
    text-align: center;
  }
  /* line 8, app/assets/stylesheets/accountcreationpage/accountCreationPage(mobile).scss */
  .create-account-form {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
  }
  /* line 16, app/assets/stylesheets/accountcreationpage/accountCreationPage(mobile).scss */
  .create-account-form__name {
    position: absolute;
    top: 10%;
    left: 5%;
    height: 10%;
    width: 90%;
  }
  /* line 24, app/assets/stylesheets/accountcreationpage/accountCreationPage(mobile).scss */
  .create-account-form__password {
    position: absolute;
    top: 20%;
    left: 5%;
    height: 10%;
    width: 90%;
  }
  /* line 32, app/assets/stylesheets/accountcreationpage/accountCreationPage(mobile).scss */
  .create-account-form button {
    position: absolute;
    top: 40%;
    left: 5%;
    height: 10%;
    width: 90%;
  }
  /* line 40, app/assets/stylesheets/accountcreationpage/accountCreationPage(mobile).scss */
  .create-account-page a {
    position: absolute;
    top: 55%;
    left: 10%;
    height: 10%;
    width: 80%;
  }
}
@media screen and (min-width: 500px) {
  /* line 2, app/assets/stylesheets/accountcreationpage/accountCreationPage.scss */
  .create-account-page {
    height: 100vh;
    width: 100vw;
    text-align: center;
  }
  /* line 8, app/assets/stylesheets/accountcreationpage/accountCreationPage.scss */
  .create-account-form {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
  }
  /* line 16, app/assets/stylesheets/accountcreationpage/accountCreationPage.scss */
  .create-account-form__name {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
  }
  /* line 23, app/assets/stylesheets/accountcreationpage/accountCreationPage.scss */
  .create-account-form__password {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
  }
  /* line 30, app/assets/stylesheets/accountcreationpage/accountCreationPage.scss */
  .create-account-form button {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
  }
  /* line 37, app/assets/stylesheets/accountcreationpage/accountCreationPage.scss */
  .create-account-page a {
    position: absolute;
    top: 55%;
    left: 39%;
    width: 22%;
  }
}
@media screen and (max-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/dashboard(mobile).scss */
  .dashboard-container {
    height: 95%;
    width: 100%;
    position: absolute;
    top: 5%;
  }
  /* line 9, app/assets/stylesheets/homepage/dashboard(mobile).scss */
  .dashboard-container .dailytimetable-container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  /* line 15, app/assets/stylesheets/homepage/dashboard(mobile).scss */
  .form .form--time {
    height: 20px;
    width: 25%;
  }
  /* line 20, app/assets/stylesheets/homepage/dashboard(mobile).scss */
  .form .form--name {
    height: 20px;
    width: 70%;
  }
  /* line 25, app/assets/stylesheets/homepage/dashboard(mobile).scss */
  .form .form--project {
    height: 20px;
    width: 100%;
  }
  /* line 30, app/assets/stylesheets/homepage/dashboard(mobile).scss */
  .form .form--description {
    height: 50px;
    width: 100%;
  }
  /* line 35, app/assets/stylesheets/homepage/dashboard(mobile).scss */
  .dashboard-container .othertasks-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/dashboard.scss */
  .dashboard-container {
    height: 95%;
    width: 75%;
    position: absolute;
    top: 5%;
    left: 25%;
    padding-left: 5px;
  }
  /* line 11, app/assets/stylesheets/homepage/dashboard.scss */
  .dashboard-container .dailytimetable-container {
    height: 100%;
    width: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  /* line 18, app/assets/stylesheets/homepage/dashboard.scss */
  .form .form--time {
    height: 20px;
    width: 25%;
  }
  /* line 23, app/assets/stylesheets/homepage/dashboard.scss */
  .form .form--name {
    height: 20px;
    width: 70%;
  }
  /* line 28, app/assets/stylesheets/homepage/dashboard.scss */
  .form .form--project {
    height: 20px;
    width: 100%;
  }
  /* line 33, app/assets/stylesheets/homepage/dashboard.scss */
  .form .form--description {
    height: 50px;
    width: 100%;
  }
  /* line 38, app/assets/stylesheets/homepage/dashboard.scss */
  .dashboard-container .othertasks-container {
    height: 100%;
    width: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 50%;
    padding-left: 5px;
  }
}
@media screen and (max-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/homePage(mobile).scss */
  * {
    margin: 0px;
    padding: 0px;
    user-select: none;
  }
  /* line 8, app/assets/stylesheets/homepage/homePage(mobile).scss */
  body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  /* line 15, app/assets/stylesheets/homepage/homePage(mobile).scss */
  .homepage-container {
    height: 100vh;
    width: 100vw;
  }
}
@media screen and (min-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/homePage.scss */
  * {
    margin: 0px;
    padding: 0px;
    user-select: none;
  }
  /* line 8, app/assets/stylesheets/homepage/homePage.scss */
  body {
    height: 800px;
    width: 100%;
    overflow: hidden;
  }
  /* line 14, app/assets/stylesheets/homepage/homePage.scss */
  .homepage-container {
    height: 800px;
    width: inherit;
  }
}
@media screen and (max-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/projectTask(mobile).scss */
  .projectTask {
    height: 100px;
    position: relative;
    border-top: solid;
  }
  /* line 8, app/assets/stylesheets/homepage/projectTask(mobile).scss */
  .projectTask input {
    border-style: none;
    height: 25px;
  }
  /* line 13, app/assets/stylesheets/homepage/projectTask(mobile).scss */
  .projectTask .task--name {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 80%;
  }
  /* line 20, app/assets/stylesheets/homepage/projectTask(mobile).scss */
  .projectTask .task--priority {
    position: absolute;
    left: 80%;
    top: 0%;
    width: 10%;
    text-align: center;
  }
  /* line 28, app/assets/stylesheets/homepage/projectTask(mobile).scss */
  .projectTask textarea {
    position: absolute;
    top: 25px;
    left: 0%;
    width: 90%;
    height: 75px;
  }
  /* line 36, app/assets/stylesheets/homepage/projectTask(mobile).scss */
  .projectTask .task--deleteButton {
    position: absolute;
    left: 90%;
    top: 0%;
    height: 100%;
    width: 10%;
    border-radius: 5px;
  }
}
@media screen and (min-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/projectTask.scss */
  .projectTask {
    height: 100px;
    position: relative;
    border-top: solid;
  }
  /* line 8, app/assets/stylesheets/homepage/projectTask.scss */
  .projectTask input {
    border-style: none;
    height: 25px;
  }
  /* line 13, app/assets/stylesheets/homepage/projectTask.scss */
  .projectTask .task--name {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 80%;
  }
  /* line 20, app/assets/stylesheets/homepage/projectTask.scss */
  .projectTask .task--priority {
    position: absolute;
    left: 80%;
    top: 0%;
    width: 10%;
    text-align: center;
  }
  /* line 28, app/assets/stylesheets/homepage/projectTask.scss */
  .projectTask textarea {
    position: absolute;
    top: 25px;
    left: 0%;
    width: 90%;
    height: 75px;
  }
  /* line 36, app/assets/stylesheets/homepage/projectTask.scss */
  .projectTask .task--deleteButton {
    position: absolute;
    left: 90%;
    top: 0%;
    height: 100%;
    width: 10%;
    border-radius: 5px;
  }
}
@media screen and (max-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/projectboard(mobile).scss */
  .projectboard--container {
    height: 95%;
    width: 100%;
    position: absolute;
    top: 5%;
  }
  /* line 9, app/assets/stylesheets/homepage/projectboard(mobile).scss */
  .projectboard--container .projectboard--header {
    height: 10%;
    padding-left: 5px;
    border-bottom: solid;
  }
  /* line 15, app/assets/stylesheets/homepage/projectboard(mobile).scss */
  .button--delete_project {
    position: absolute;
    right: 10px;
  }
  /* line 20, app/assets/stylesheets/homepage/projectboard(mobile).scss */
  .projectboard--container .project--descriptionbox {
    height: 50%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: inherit;
    border-style: none;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  /* line 32, app/assets/stylesheets/homepage/projectboard(mobile).scss */
  .projectboard--taskcontainer {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-style: solid;
    padding-left: 5px;
  }
  /* line 43, app/assets/stylesheets/homepage/projectboard(mobile).scss */
  .projectboard--taskcontainer .container--task_form {
    height: 70px;
  }
  /* line 47, app/assets/stylesheets/homepage/projectboard(mobile).scss */
  .projectboard--taskcontainer .form {
    height: 70px;
  }
  /* line 51, app/assets/stylesheets/homepage/projectboard(mobile).scss */
  .projectboard--taskcontainer .form .form--name {
    height: 20px;
    width: 85%;
  }
  /* line 56, app/assets/stylesheets/homepage/projectboard(mobile).scss */
  .projectboard--taskcontainer .form .form--priority {
    height: 20px;
    width: 10%;
    position: absolute;
  }
  /* line 62, app/assets/stylesheets/homepage/projectboard(mobile).scss */
  .projectboard--taskcontainer .form .form--description {
    height: 50px;
    width: 100%;
  }
}
@media screen and (min-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/projectboard.scss */
  .projectboard--container {
    height: 95%;
    width: 75%;
    position: absolute;
    top: 5%;
    left: 25%;
  }
  /* line 10, app/assets/stylesheets/homepage/projectboard.scss */
  .projectboard--container .projectboard--header {
    height: 10%;
    padding-left: 5px;
    border-bottom: solid;
  }
  /* line 16, app/assets/stylesheets/homepage/projectboard.scss */
  .button--delete_project {
    position: absolute;
    right: 10px;
  }
  /* line 21, app/assets/stylesheets/homepage/projectboard.scss */
  .projectboard--container .project--descriptionbox {
    height: 90%;
    width: 50%;
    position: absolute;
    top: 10%;
    background-color: inherit;
    border-style: none;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  /* line 33, app/assets/stylesheets/homepage/projectboard.scss */
  .projectboard--taskcontainer {
    height: 90%;
    width: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 10%;
    left: 50%;
    border-style: solid;
    padding-left: 5px;
  }
  /* line 45, app/assets/stylesheets/homepage/projectboard.scss */
  .projectboard--taskcontainer .container--task_form {
    height: 70px;
  }
  /* line 49, app/assets/stylesheets/homepage/projectboard.scss */
  .projectboard--taskcontainer .form {
    height: 70px;
  }
  /* line 53, app/assets/stylesheets/homepage/projectboard.scss */
  .projectboard--taskcontainer .form .form--name {
    height: 20px;
    width: 85%;
  }
  /* line 58, app/assets/stylesheets/homepage/projectboard.scss */
  .projectboard--taskcontainer .form .form--priority {
    height: 20px;
    width: 10%;
    position: absolute;
  }
  /* line 64, app/assets/stylesheets/homepage/projectboard.scss */
  .projectboard--taskcontainer .form .form--description {
    height: 50px;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/scheduledTask(mobile).scss */
  .scheduledTask {
    height: 100px;
    position: relative;
    border-top: solid;
  }
  /* line 8, app/assets/stylesheets/homepage/scheduledTask(mobile).scss */
  .scheduledTask input {
    border-style: none;
    height: 25px;
  }
  /* line 13, app/assets/stylesheets/homepage/scheduledTask(mobile).scss */
  .scheduledTask .task--time {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 15%;
    background-color: inherit;
  }
  /* line 21, app/assets/stylesheets/homepage/scheduledTask(mobile).scss */
  .scheduledTask .task--name {
    position: absolute;
    left: 15%;
    top: 0%;
    width: 65%;
  }
  /* line 28, app/assets/stylesheets/homepage/scheduledTask(mobile).scss */
  .scheduledTask .task--priority {
    position: absolute;
    left: 80%;
    top: 0%;
    width: 10%;
    text-align: center;
  }
  /* line 36, app/assets/stylesheets/homepage/scheduledTask(mobile).scss */
  .scheduledTask textarea {
    position: absolute;
    top: 25px;
    left: 0%;
    width: 90%;
    height: 75px;
    background-color: inherit;
  }
  /* line 45, app/assets/stylesheets/homepage/scheduledTask(mobile).scss */
  .scheduledTask .task--deleteButton {
    position: absolute;
    left: 90%;
    top: 0%;
    height: 100%;
    width: 10%;
    border-radius: 5px;
  }
}
@media screen and (min-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/scheduledTask.scss */
  .scheduledTask {
    height: 100px;
    position: relative;
    border-top: solid;
  }
  /* line 8, app/assets/stylesheets/homepage/scheduledTask.scss */
  .scheduledTask input {
    border-style: none;
    height: 25px;
  }
  /* line 13, app/assets/stylesheets/homepage/scheduledTask.scss */
  .scheduledTask .task--time {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 15%;
    background-color: inherit;
  }
  /* line 21, app/assets/stylesheets/homepage/scheduledTask.scss */
  .scheduledTask .task--name {
    position: absolute;
    left: 15%;
    top: 0%;
    width: 65%;
  }
  /* line 28, app/assets/stylesheets/homepage/scheduledTask.scss */
  .scheduledTask .task--priority {
    position: absolute;
    left: 80%;
    top: 0%;
    width: 10%;
    text-align: center;
  }
  /* line 36, app/assets/stylesheets/homepage/scheduledTask.scss */
  .scheduledTask textarea {
    position: absolute;
    top: 25px;
    left: 0%;
    width: 90%;
    height: 75px;
    background-color: inherit;
  }
  /* line 45, app/assets/stylesheets/homepage/scheduledTask.scss */
  .scheduledTask .task--deleteButton {
    position: absolute;
    left: 90%;
    top: 0%;
    height: 100%;
    width: 10%;
    border-radius: 5px;
  }
}
@media screen and (max-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/sidebar(mobile).scss */
  .sidebar-container {
    height: 95%;
    width: 100%;
    position: absolute;
    top: 5%;
    visibility: hidden;
  }
  /* line 10, app/assets/stylesheets/homepage/sidebar(mobile).scss */
  .sidebar-container .projects-container {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  /* line 16, app/assets/stylesheets/homepage/sidebar(mobile).scss */
  .sidebar-container .projects-container button {
    height: 10%;
    width: 100%;
    font-size: 15px;
  }
  /* line 22, app/assets/stylesheets/homepage/sidebar(mobile).scss */
  .sidebar-container .projects-container button:hover {
    opacity: 0.8;
  }
}
@media screen and (min-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/sidebar.scss */
  .sidebar-container {
    height: 95%;
    width: 25%;
    position: absolute;
    top: 5%;
    border-right: solid;
  }
  /* line 10, app/assets/stylesheets/homepage/sidebar.scss */
  .sidebar-container .projects-container {
    height: 80%;
    width: 100%;
    text-align: center;
  }
  /* line 16, app/assets/stylesheets/homepage/sidebar.scss */
  .sidebar-container .projects-container button {
    height: 6%;
    width: 100%;
    font-size: 15px;
  }
  /* line 22, app/assets/stylesheets/homepage/sidebar.scss */
  .sidebar-container .projects-container button:hover {
    opacity: 0.8;
  }
}
@media screen and (max-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/topbar(mobile).scss */
  .topbar-container {
    height: 5%;
    width: 100%;
    border-bottom: solid;
    overflow: hidden;
  }
  /* line 9, app/assets/stylesheets/homepage/topbar(mobile).scss */
  .topbar-container button {
    height: 100%;
    width: 20%;
    text-align: center;
  }
  /* line 15, app/assets/stylesheets/homepage/topbar(mobile).scss */
  .topbar-container .userMenu {
    height: inherit;
    width: 40%;
    overflow: hidden;
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
  }
  /* line 25, app/assets/stylesheets/homepage/topbar(mobile).scss */
  .topbar-container .userMenu button {
    height: 100%;
    width: 40%;
    margin-left: 3%;
  }
}
@media screen and (min-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/topbar.scss */
  .topbar-container {
    height: 4.8%;
    width: 100%;
    border-bottom: solid;
    overflow: hidden;
  }
  /* line 9, app/assets/stylesheets/homepage/topbar.scss */
  .topbar-container button {
    height: 100%;
    width: 15%;
    text-align: center;
  }
  /* line 15, app/assets/stylesheets/homepage/topbar.scss */
  .topbar-container .userMenu {
    height: 4.8%;
    width: 15%;
    overflow: hidden;
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
  }
  /* line 25, app/assets/stylesheets/homepage/topbar.scss */
  .tutorial--button {
    border-radius: 50%;
    margin-right: 5px;
    font-size: 20px;
  }
  /* line 31, app/assets/stylesheets/homepage/topbar.scss */
  .topbar-container .userMenu .log-out--button {
    width: 35%;
    margin-left: 3%;
  }
}
@media screen and (max-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/unscheduledTask(mobile).scss */
  .unscheduledTask {
    height: 100px;
    position: relative;
    border-top: solid;
  }
  /* line 8, app/assets/stylesheets/homepage/unscheduledTask(mobile).scss */
  .unscheduledTask input {
    border-style: none;
    height: 25px;
  }
  /* line 13, app/assets/stylesheets/homepage/unscheduledTask(mobile).scss */
  .unscheduledTask .task--name {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 80%;
  }
  /* line 20, app/assets/stylesheets/homepage/unscheduledTask(mobile).scss */
  .unscheduledTask .task--priority {
    position: absolute;
    left: 80%;
    top: 0%;
    width: 10%;
    text-align: center;
  }
  /* line 28, app/assets/stylesheets/homepage/unscheduledTask(mobile).scss */
  .unscheduledTask textarea {
    position: absolute;
    top: 25px;
    left: 0%;
    width: 90%;
    height: 75px;
  }
  /* line 36, app/assets/stylesheets/homepage/unscheduledTask(mobile).scss */
  .unscheduledTask .task--deleteButton {
    position: absolute;
    left: 90%;
    top: 0%;
    height: 100%;
    width: 10%;
    border-radius: 5px;
  }
}
@media screen and (min-width: 500px) {
  /* line 2, app/assets/stylesheets/homepage/unscheduledTask.scss */
  .unscheduledTask {
    height: 100px;
    position: relative;
    border-top: solid;
  }
  /* line 8, app/assets/stylesheets/homepage/unscheduledTask.scss */
  .unscheduledTask input {
    border-style: none;
    height: 25px;
  }
  /* line 13, app/assets/stylesheets/homepage/unscheduledTask.scss */
  .unscheduledTask .task--name {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 80%;
  }
  /* line 20, app/assets/stylesheets/homepage/unscheduledTask.scss */
  .unscheduledTask .task--priority {
    position: absolute;
    left: 80%;
    top: 0%;
    width: 10%;
    text-align: center;
  }
  /* line 28, app/assets/stylesheets/homepage/unscheduledTask.scss */
  .unscheduledTask textarea {
    position: absolute;
    top: 25px;
    left: 0%;
    width: 90%;
    height: 75px;
  }
  /* line 36, app/assets/stylesheets/homepage/unscheduledTask.scss */
  .unscheduledTask .task--deleteButton {
    position: absolute;
    left: 90%;
    top: 0%;
    height: 100%;
    width: 10%;
    border-radius: 5px;
  }
}
@media screen and (max-width: 500px) {
  /* line 2, app/assets/stylesheets/loginpage/logInPage(mobile).scss */
  .log-in-page {
    height: 100vh;
    width: 100vw;
    text-align: center;
  }
  /* line 8, app/assets/stylesheets/loginpage/logInPage(mobile).scss */
  .log-in-form {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
  }
  /* line 16, app/assets/stylesheets/loginpage/logInPage(mobile).scss */
  .log-in-form__name {
    position: absolute;
    top: 10%;
    left: 5%;
    height: 10%;
    width: 90%;
  }
  /* line 24, app/assets/stylesheets/loginpage/logInPage(mobile).scss */
  .log-in-form__password {
    position: absolute;
    top: 20%;
    left: 5%;
    height: 10%;
    width: 90%;
  }
  /* line 32, app/assets/stylesheets/loginpage/logInPage(mobile).scss */
  .log-in-form button {
    position: absolute;
    top: 40%;
    left: 5%;
    height: 10%;
    width: 90%;
  }
  /* line 40, app/assets/stylesheets/loginpage/logInPage(mobile).scss */
  .log-in-page a {
    position: absolute;
    top: 55%;
    left: 10%;
    height: 10%;
    width: 80%;
  }
}
@media screen and (min-width: 500px) {
  /* line 2, app/assets/stylesheets/loginpage/logInPage.scss */
  .log-in-page {
    height: 100vh;
    width: 100vw;
    text-align: center;
  }
  /* line 8, app/assets/stylesheets/loginpage/logInPage.scss */
  .log-in-form {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
  }
  /* line 16, app/assets/stylesheets/loginpage/logInPage.scss */
  .log-in-form__name {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
  }
  /* line 23, app/assets/stylesheets/loginpage/logInPage.scss */
  .log-in-form__password {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
  }
  /* line 30, app/assets/stylesheets/loginpage/logInPage.scss */
  .log-in-form button {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
  }
  /* line 37, app/assets/stylesheets/loginpage/logInPage.scss */
  .log-in-page a {
    position: absolute;
    top: 55%;
    left: 39%;
    width: 22%;
  }
}
@media screen and (min-width: 500px) {
  /* line 2, app/assets/stylesheets/tutorialpage/tutorialPage.scss */
  .tutorial-page {
    height: 100vh;
    width: 100vw;
  }
  /* line 7, app/assets/stylesheets/tutorialpage/tutorialPage.scss */
  .tutorial-page img {
    height: 95%;
    position: absolute;
    top: 5%;
    overflow: scroll;
  }
  /* line 14, app/assets/stylesheets/tutorialpage/tutorialPage.scss */
  .tutorial-page .topbar-container {
    height: 5%;
    width: 100%;
    border-bottom: solid;
    overflow: hidden;
  }
  /* line 21, app/assets/stylesheets/tutorialpage/tutorialPage.scss */
  .tutorial-page .topbar-container button {
    height: 100%;
    width: 33%;
    text-align: center;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
@import "./homepage/home";
