@media screen and (max-width: 500px){
	.dashboard-container{
		height: 95%;
		width: 100%;
		position: absolute;
		top: 5%;
	}

	.dashboard-container .dailytimetable-container{
		width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	.form .form__time{
		height: 20px;
		width: 25%;
	}

	.form .form__name{
		height: 20px;
		width: 70%;
	}

	.form .form__project{
		height: 20px;
		width: 100%;
	}

	.form .form__description{
		height: 50px;
		width: 100%;
	}

	.dashboard-container .othertasks-container{
		position: relative;
		width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
	}
}