@media screen and (min-width: 500px){
	*{
		margin: 0px;
		padding: 0px;
		user-select: none;
	}

	body{
		height: 800px;
		width: 100%;
		overflow: hidden;
	}

	.homepage-container{
		height: 800px;
		width: inherit;
	}
}