@media screen and (min-width: 500px){
	.project-task{
		height: 100px;
		position: relative;
		border-top: solid;
	}

	.project-task input{
		border-style: none;
		height: 25px;
	}

	.project-task .task__name{
		position: absolute;
		left: 0%;
		top: 0%;
		width: 80%;
	}

	.project-task .task__priority{
		position: absolute;
		left: 80%;
		top: 0%;
		width: 10%;
		text-align: center;
	}

	.project-task textarea{
		position: absolute;
		top: 25px;
		left: 0%;
		width: 90%;
		height: 75px;
	}

	.project-task .task__delete--button{
		position: absolute;
		left: 90%;
		top: 0%;
		height: 100%;
		width: 10%;
		border-radius: 5px;
	}
}