@media screen and (max-width: 500px){
	.scheduled-task{
		height: 100px;
		position: relative;
		border-top: solid;
	}

	.scheduled-task input{
		border-style: none;
		height: 25px;
	}

	.scheduled-task .task__time{
		position: absolute;
		left: 0%;
		top: 0%;
		width: 15%;
		background-color: inherit;
	}

	.scheduled-task .task__name{
		position: absolute;
		left: 15%;
		top: 0%;
		width: 65%;
	}

	.scheduled-task .task__priority{
		position: absolute;
		left: 80%;
		top: 0%;
		width: 10%;
		text-align: center;
	}

	.scheduled-task textarea{
		position: absolute;
		top: 25px;
		left: 0%;
		width: 90%;
		height: 75px;
		background-color: inherit;
	}

	.scheduled-task .task__delete--button{
		position: absolute;
		left: 90%;
		top: 0%;
		height: 100%;
		width: 10%;
		border-radius: 5px;
	}
}