@media screen and (max-width: 500px){
	.topbar-container{
		height: 5%;
		width: 100%;
		border-bottom: solid;
		overflow: hidden;
	}

	.topbar-container button{
		height: 100%;
		width: 20%;
		text-align: center;
	}

	.topbar-container .use-menu{
		height: inherit;
		width: 40%;
		overflow: hidden;
		position: absolute;
		top: 0%;
		right: 0%;
		display: flex;
	}

	.topbar-container .user-menu button{
		height: 100%;
		width: 40%;
		margin-left: 3%
	}
}