@media screen and (min-width: 500px){
	.tutorial-page {
		height: 100vh;
		width: 100vw;
	}

	.tutorial-page img{
		height: 95%;
		position: absolute;
		top: 5%;
		overflow: scroll;
	}

	.tutorial-page .topbar-container{
		height: 5%;
		width: 100%;
		border-bottom: solid;
		overflow: hidden;
	}

	.tutorial-page .topbar-container button{
		height: 100%;
		width: 33%;
		text-align: center;
	}
}