@media screen and (max-width: 950px){
	.scheduled-task{
		position: relative;
		border-top: solid;
	}

	.scheduled-task input{
		border-style: none;
		height: 25px;
	}

	.scheduled-task .task__time{
		width: 15%;
		background-color: inherit;
	}

	.scheduled-task .task__name{
		width: 65%;
	}

	.scheduled-task .task__priority{
		width: 10%;
		text-align: center;
	}

	.scheduled-task textarea{
		width: 90%;
		background-color: inherit;
	}

	.scheduled-task .task__delete--button{
		height: auto;
		width: 8%;
		border-radius: 5px;
	}
}