@media screen and (max-width: 950px){
	.scheduled-task{
		position: relative;
		border-top: solid;
		width: 100%;
	}

	.scheduled-task input{
		border-style: none;
		height: 25px;
	}

	.scheduled-task .task__time{
		width: 15%;
		background-color: inherit;
	}

	.scheduled-task .task__label{
		width: 65%;
	}

	.scheduled-task .task__label .task__move--img{
		width: 3%;
	}

	.scheduled-task .task__name{
		max-width: 65%;
		min-width: 50%;
	}

	.scheduled-task .task__priority{
		width: 10%;
		text-align: center;
		position: absolute;
		right: 8%;
	}

	.scheduled-task textarea{
		width: 100%;
		background-color: inherit;
	}

	.scheduled-task .task__delete--button{
		height: auto;
		width: 8%;
		border-radius: 5px;
		position: absolute;
		right: 0%;
	}
}