@media screen and (min-width: 950px){
	.dashboard-container{
		height: 95%;
		width: 75%;
		position: absolute;
		top: 5%;
		left: 25%;
		padding-left: 5px;
	}

	.dashboard-container .dailytimetable-container{
		position: relative;
		height: 100%;
		width: 50%;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.form .form__time{
		height: 20px;
		width: 25%;
	}

	.form .form__name{
		height: 20px;
		width: 70%;
	}

	.form .form__project{
		height: 20px;
		width: 100%;
	}

	.form .form__description{
		height: 50px;
		width: 100%;
	}

	.dashboard-container .othertasks-container{
		width: 50%;
		overflow-x: hidden;
		overflow-y: scroll;
		position: absolute;
		top: 0;
		left: 50%;
		padding-left: 5px;
	}
}