@media screen and (min-width: 950px){
	.project-task{
		position: relative;
		border-bottom: solid;
	}

	.project-task input{
		border-style: none;
		height: 25px;
	}

	.project-task .task__name{
		width: 80%;
	}

	.project-task .task__priority{
		width: 10%;
		text-align: center;
	}

	.project-task textarea{
		width: 90%;
	}

	.project-task .task__delete--button{
		height: auto;
		width: 8%;
		border-radius: 5px;
	}
}