@media screen and (min-width: 950px){
	.project__container{
		height: 95%;
		width: 75%;
		position: absolute;
		top: 5%;
		left: 25%;
	}

	.project__container .project__header{
		height: 10%;
		padding-left: 5px;
		border-bottom: solid;
	}

	.project__container .project__header .project__show-settings--button{
		position: absolute;
		top: 0%;
		right: 0px;
		border: none;
		height: 10%;
		background: inherit;
	}

	.project__container .project__header .project__show-settings--button img{
		height: 100%;
	}

	.project__container .project__header .project__settings{
		visibility: hidden;
		position:absolute;
		top: 10%;
		right: 0%;
		z-index: 1000;
		width: 10%;
	}

	.project__container .project__header .project__settings button{
		width: 100%;
	}

	.project__container .project__description{
		height: 90%;
		width: 49%;
		position: absolute;
		top: 10%;
		background-color: inherit;
		border-style: none;
		padding-top: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.project__task-container{
		height: 90%;
		width: 50%;
		overflow-x: hidden;
		overflow-y: auto;
		position: absolute;
		top: 10%;
		left: 50%;
		border-style: solid;
		padding-left: 5px;
	}

	.project__task-container .form{
		height: 70px;
	}

	.project__task-container .form .form__name{
		height: 20px;
		width: 85%;
	}

	.project__task-container .form .form__priority{
		height: 20px;
		width: 10%;
		position: absolute;
	}

	.project__task-container .form .form__description{
		height: 50px;
		width: 100%;
	}
}