@media screen and (min-width: 500px){
	.log-in-page{
		height: 100vh;
		width: 100vw;
		text-align: center;
	}

	.log-in-form{
		height: 50%;
		width: 50%;
		position: absolute;
		top: 25%;
		left: 25%;
	}

	.log-in-form__name{
		position: absolute;
		top: 30%;
		left: 25%;
		width: 50%;
	}

	.log-in-form__password{
		position: absolute;
		top: 40%;
		left: 25%;
		width: 50%;	
	}

	.log-in-form button{
		position: absolute;
		top: 50%;
		left: 25%;
		width: 50%;	
	}

	.log-in-page a{
		position: absolute;
		top: 55%;
		left: 39%;
		width: 22%;	
	}
}